.navbar {
    width: 100%; 
    color: whitesmoke;
    height: fit-content;
    position: absolute;
    top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 20px;
    text-shadow: black 0px 0px 10px;
    padding-left: 40px;
    display: flex;
    letter-spacing: 3px;
    box-shadow: 5px 5px 5px slategray;
    background: inherit;
}