.grid {
  background: whitesmoke;
  box-shadow: black 0px 0px 10px;
  width: 1400px;
  height: 620px;
  margin: 80px auto;
  padding-top: 40px;
}

body {
  background-image: url("https://github.com/jiminey/PathfindingVisualizer/blob/master/assets/background.jpg?raw=true");
  background-size: cover;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: -54px;
}

button {
  height: 50px;
  width: 240px;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1.4px;
  font-weight: bold;
  border: 1px solid olive;
  margin: 60px 0px -40px 0px;
  background: darkcyan;
  color: white;
  cursor: pointer;
}

button:hover {
  background: rgb(0, 100, 100);
  transform: scale(1.02);
}

.content-container {
  height: fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
  top: 0px;
}

h1 {
  font-size: 80px;
  color: black;
}