.grid {
  background: inherit;
  width: 1400px;
  height: 600px;
  opacity: 100%;
  margin: 80px auto;
  padding-top: 40px;
}

body {
  background-image: url("https://github.com/jiminey/PathfindingVisualizer/blob/master/assests/background.jpg?raw=true");
  background-size: cover;
}